@page
@model OkaneFlow.Pages.People.PeopleModel
@{
}
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Chats</button>
    <button type="button" class="btn btn-secondary">Permissions</button>
    <button type="button" class="btn btn-secondary">Other Dashboard</button>
</div>