@page "{id:guid}"
@model OkaneFlow.Pages.Dashboard.Category.deleteModel
@{
}
<button type="button" onclick="goBack()" class="btn btn-secondary">Back</button>

<input type="hidden" asp-for="AccountDetails.AccountID" />
<h3>Here you will find some delete buttons and stuff</h3>
@if (Model.AccountDetails != null)
{
    <p>Are you sure you want to delete the following account?</p>

    <dl>
        <dt>Account Name: </dt>
        <dd>@Model.AccountDetails.CategoryName</dd>

        <dt>Allocated Amount: </dt>
        <dd>@Model.AccountDetails.AllocatedAmount</dd>

        <dt>Amount Used: </dt>
        <dd>@Model.AccountDetails.AmountUsed</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="AccountDetails.AccountID" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-page="/Dashboard/Category/CategoryPage" asp-route-id="@Model.AccountDetails.AccountID" class="btn btn-secondary">Cancel</a>
    </form>
}
else
{
    <p>Account not found.</p>
}