@page "{id:guid}"
@model OkaneFlow.Pages.Dashboard.MainDashboard.editModel

<h2>Edit Bank Account</h2>


<button type="button" onclick="goBack()" class="btn btn-secondary">Back</button>

<form method="post">
    <input type="hidden" asp-for="AccountDetails.AccountID" />

    <div>
        <label>Account Name:</label>
        <input asp-for="AccountDetails.AccountName" />
    </div>

    <div>
        <label>Current Balance:</label>
        <span>@Model.AccountDetails.CurrentBalance</span>
    </div>

    <div>
        <label>Amount to Add:</label>
        <input asp-for="AmountToAdd" value="" placeholder="0.00" />
    </div>

    <input type="hidden" asp-for="AccountDetails.CurrentBalance" />

    <button type="submit">Update</button>
</form>

